{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container my-5 py-5">

    <div class="row mb-5">
        <div class="col col-xxl-4 col-lg-4 col-md-4 col-auto mx-auto mb-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header bg-warning h1 text-center">{{character.name}}</div>
                <img src="{{character.image}}" class="card-img-top" alt="{{character.name}} picture">
                <ul class="list-group list-group-flush">
                    {% if character.alias %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Alias: </span>
                            <span>{{character.alias}}</span>
                        </p>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Especie: </span>
                            <span>{{character.species}}</span>
                        </p>
                    </li>
                    {% if character.age %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Edad: </span>
                            <span>{{character.age}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.height %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Altura: </span>
                            <span>{{character.height}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.birthday %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Nacimiento: </span>
                            <span>{{character.birthday}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.birthplace %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Origen: </span>
                            <span>{{character.birthplace}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.status %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Estado: </span>
                            <span>{{character.status}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.powers_and_abilities %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Poderes y habilidades: </span>
                            <span>{{character.powers_and_abilities}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.contracted_devils %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Demonios contratados: </span>
                            <span>{{character.contracted_devils}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.contracted_humans %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Humanos contratados: </span>
                            <span>{{character.contracted_humans}}</span>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.manga_debut %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Debut en el manga: </span>
                            <a class="text-secondary text-decoration-none"
                                href="/manga/{{character.manga_debut.id}}">capítulo {{character.manga_debut.number}}</a>
                        </p>
                    </li>
                    {% endif %}
                    {% if character.anime_debut %}
                    <li class="list-group-item">
                        <p>
                            <span class="fw-bold">Debut en el anime: </span>
                            <a class="text-secondary text-decoration-none"
                                href="/season">episodio
                                {{character.anime_debut.number}}</a>
                        </p>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="col col-xxl-8 col-lg-6 col-md-4 col-auto mx-auto text-justify">
            <div class="mx-3">
            <p>{{character.description|linebreaks}}</p>
            {% if character.appearance %}
            <p class="h3">Apariencia</p>
            <p>{{character.appearance}}</p>
            {% endif %}
            {% if character.fiend_form %}
            <p class="lead">Forma humano demonio</p>
            <p>{{character.fiend_form}}</p>
            {% endif %}
            {% if character.hybrid_form %}
            <p class="h5">Forma híbrida</p>
            <p>{{character.hybrid_form}}</p>
            {% endif %}
            {% if character.devil_form %}
            <p class="h5">Forma demoníaca</p>
            <p>{{character.devil_form}}</p>
            {% endif %}
            {% if character.human_form %}
            <p class="h5">Forma humana</p>
            <p>{{character.appearance}}</p>
            {% endif %}
            {% if character.personality %}
            <p class="h3">Personalidad</p>
            <p>{{character.personality}}</p>
            {% endif %}
            <small>Fuente: {{character.source}}</small>
        </div>
        </div>

    </div>
</div>

<style>
    .text-justify {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

{% endblock %}