{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container my-5 py-5">

    <div class="card bg-warning border-dark mx-auto mb-3" style="max-width: 60rem;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{volume.cover}}" class="img-fluid rounded-start" alt="Volume {{volume.number}} cover">
            </div>
            <div class="col-md-8">
                <div class="card-body ms-5">
                    <h1 class="mb-3">Volume {{volume.number}}</h1>
                    {% for manga in mangas %}
                    <p>
                        <span class="badge bg-dark">{{manga.number}}</span>
                        <a href="/manga/{{manga.id}}"
                            class="text-dark fw-bold text-decoration-none">{{manga.title}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}