{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container my-5 py-5">
    <div class="d-flex flex-wrap">
        {% for volume in volume_list %}
        <a href="/volume/{{volume.number}}" class="text-decoration-none text-dark">
            <div class="card bg-warning border-dark m-3" style="width: 10rem;">
                <img src="{{volume.cover}}" class="card-img-top" alt="Volume {{volume.number}} cover">
                <div class="card-body">
                    <p class="fw-bold text-center">Volume {{volume.number}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}