{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container my-5 py-5">
    <table class="table table-bordered border-dark text-center">
        <thead>
            <tr class="bg-warning">
                <th>Number</th>
                <th>Title</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            {% for anime in anime_list %}
            <tr>
                <td>{{anime.number}}</td>
                <td>{{anime.title}}</td>
                <td>
                    <div class="scrollable-cell">{{anime.plot|linebreaks}}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .scrollable-cell {
    max-height: 150px;
    overflow: auto;
}
</style>

{% endblock %}