{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container my-5 py-5">
    {% for season in season_list %}
    <div class="card text-center mx-auto mb-5" style="max-width: 60rem;">
        <div class="card-header bg-warning h1">Season {{season.number}}</div>
        <div class="card-body text-center">
            <div class="ratio ratio-16x9">
                <iframe src="{{season.trailer}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <table class="table table-borderless table-hover mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Plot</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anime in season.anime_list %}
                    <tr>
                        <td>{{anime.number}}</td>
                        <td>{{anime.title}}</td>
                        <td>
                            <div>{{anime.plot|linebreaks}}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}