{% extends "base.html" %}

{% load static %}

{% block changingContent %}

<div class="container-fluid py-5 text-center vh-100 background">
    <div class="card d-inline-block p-3 mt-5 mx-auto custom-animation">
        <div>
            <h1 class="display-4 text-warning">Bienvenido a la Chainsawpedia</h1>
            <p class="lead text-light">Una enciclopedia de Chainsaw Man hecho en Django.</p>
        </div>
    </div>
</div>

<style>
    .background {
        background-image: url(https://i.imgur.com/dBh8wIv.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 1600px
    }

    .card {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>

{% endblock %}